html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none; }

html {
  height: 101%;
  background-color: #e0e0e0; }

/* always display scrollbars */
body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

* {
  box-sizing: border-box; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

input {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.header {
  background: #43a047;
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 9999; }
  .header .h-social {
    width: 150px;
    display: inline-block;
    margin: 10px;
    border-right: 1px solid #fff; }
    .header .h-social a span {
      background-size: cover;
      background-position: center;
      display: inline-block;
      width: 34px;
      height: 34px;
      text-align: center;
      margin: 0px auto; }
    .header .h-social a:nth-child(1) span {
      background-image: url(../img/facebook-square-social-logo.png); }
    .header .h-social a:nth-child(1):hover span {
      background-image: url(../img/facebook-c.png); }
    .header .h-social a:nth-child(2) span {
      background-image: url(../img/youtube-logo-in-a-square.png);
      margin-left: 10px; }
    .header .h-social a:nth-child(2):hover span {
      background-image: url(../img/youtube.png); }
    .header .h-social a:nth-child(3) span {
      background-image: url(../img/google-plus-b.png);
      margin-left: 10px; }
    .header .h-social a:nth-child(3):hover span {
      background-image: url(../img/google-c.png); }
    .header .h-social a:hover span {
      -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.76);
      -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.76);
      box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.76); }
  .header .h-lang {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px; }
    .header .h-lang a {
      color: #fff; }
      .header .h-lang a:nth-child(2), .header .h-lang a:nth-child(3) {
        margin-left: 10px; }
  .header .h-regis {
    display: inline; }
    .header .h-regis .header-search {
      display: inline-block;
      vertical-align: top; }
      .header .h-regis .header-search #demo-b input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
        background: url(../img/search-p.png) no-repeat 9px center;
        border: none;
        padding: 9px 10px 9px 40px;
        width: 0px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        color: transparent;
        cursor: pointer;
        font-size: 16px;
        position: absolute;
        right: 70px;
        top: 10px; }
        .header .h-regis .header-search #demo-b input[type=search]:focus {
          width: 130px;
          color: #1f1f1f;
          background: url(../img/search-a.png) no-repeat 9px center;
          background-color: #fff; }
    .header .h-regis .autorization a {
      position: absolute;
      right: 15px;
      top: 16px;
      font-size: 14px;
      color: #fff;
      margin-left: 10px;
      display: inline-block;
      vertical-align: top; }
      .header .h-regis .autorization a span {
        background: url(../img/logout.png);
        background-size: cover;
        background-position: center;
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        text-align: center;
        margin: 0px 0px 0px 5px; }

.main-cont {
  width: 900px;
  margin: auto;
  text-align: center;
  color: #1f1f1f;
  position: relative;
  top: 55px; }
  .main-cont .m-nav {
    width: 100%;
    padding: 30px 0px; }
    .main-cont .m-nav .m-name {
      width: 35%;
      display: inline-block;
      vertical-align: top; }
      .main-cont .m-nav .m-name a span {
        background: url(../img/logo.png);
        background-size: cover;
        background-position: center;
        display: inline-block;
        vertical-align: top;
        height: 124px;
        width: 124px; }
      .main-cont .m-nav .m-name p {
        width: 188px;
        display: inline-block;
        margin: 15px 0px;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        border-right: 1px solid #1f1f1f; }
    .main-cont .m-nav .m-menu {
      width: 64%;
      display: inline-block;
      vertical-align: top;
      margin-top: 12px; }
      .main-cont .m-nav .m-menu a {
        width: 24%;
        display: inline-block;
        padding: 15px 0px; }
        .main-cont .m-nav .m-menu a span {
          background-image: url(../img/group.png);
          background-size: cover;
          background-position: center;
          display: block;
          vertical-align: top;
          margin: 0px auto;
          height: 50px;
          width: 50px; }
        .main-cont .m-nav .m-menu a p {
          display: block;
          text-transform: uppercase;
          font-weight: bold;
          color: #1f1f1f;
          margin-top: 22px;
          font-size: 14px; }
        .main-cont .m-nav .m-menu a:nth-child(1) span {
          background-image: url(../img/group.png); }
        .main-cont .m-nav .m-menu a:nth-child(2) span {
          background-image: url(../img/hospital.png); }
        .main-cont .m-nav .m-menu a:nth-child(3) span {
          background-image: url(../img/dna-chain.png); }
        .main-cont .m-nav .m-menu a:nth-child(4) span {
          background-image: url(../img/book.png); }
        .main-cont .m-nav .m-menu a:hover {
          background-color: #4398ed;
          text-decoration: none; }
          .main-cont .m-nav .m-menu a:hover p {
            color: #fff; }
          .main-cont .m-nav .m-menu a:hover:nth-child(1) span {
            background-image: url(../img/group-white.png); }
          .main-cont .m-nav .m-menu a:hover:nth-child(2) span {
            background-image: url(../img/hospital-white.png); }
          .main-cont .m-nav .m-menu a:hover:nth-child(3) span {
            background-image: url(../img/dna-chain-white.png); }
          .main-cont .m-nav .m-menu a:hover:nth-child(4) span {
            background-image: url(../img/book-white.png); }

#owl-demo {
  position: relative; }
  #owl-demo .item p {
    font-size: 36px;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 10%;
    font-weight: bold;
    text-align: center;
    max-width: 50%;
    line-height: 46px;
    background: rgba(117, 117, 117, 0.5);
    padding: 20px;
    border-radius: 3px; }
  #owl-demo .item a {
    padding: 12px 45px;
    background-color: #43a047;
    color: #fff;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 55%;
    left: 40%;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 1.2px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5); }

#m-info {
  background-color: #fff;
  padding: 25px;
  border-radius: 5px; }
  #m-info div > h1 {
    font-size: 30px;
    font-weight: 400; }
  #m-info div > p {
    font-size: 16px;
    margin-top: 25px;
    line-height: 18px;
    text-align: justify;
    margin: 25px auto; }
  #m-info .info-nav {
    height: auto;
    display: inline-block; }
    #m-info .info-nav a {
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      background-color: #43a047;
      padding: 10px 35px;
      display: inline-block;
      margin: 0px 12px;
      border-radius: 3px; }

/*# sourceMappingURL=style.css.map */
